<h2>Main page</h2>
<hr />

<div class="row">
    <div *ngIf="Player.ResumeGame" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 well">
        <h3>Game resuming</h3>
        <p>You can resume your last game</p>
        <div class="form-group">
            <a class="btn btn-primary" (click)="ResumeGame()">Resume game</a>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 well">
        <h3>Start new game</h3>
        <label class="control-label col-md-4">Amount of bots:</label>
        <div class="col-md-8">
            <input name="amountOfBots" [(ngModel)]="AmountOfBots" class="form-control"
                   type="number" value="0" min="0" max="5"
                   #amountOfBots="ngModel" pattern="[0-5]" />
            <div [hidden]="amountOfBots.valid" class="alert alert-danger">
                Amount of bots must be more than or equals to 0 and less than or equals to 5.
            </div>
            <br />
            <button [disabled]="amountOfBots.invalid" class="btn btn-primary" (click)="StartNewGame()">Start new game</button>
        </div>
    </div>
</div>