@{
    ViewBag.Title = "Game history";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container body-content">
    <h2>Game history</h2>
    <div id="grid"></div>
    <hr />
</div>

@Styles.Render("~/bundles/KendoUI/css")
@Scripts.Render("~/bundles/KendoUI/js")
@Scripts.Render("~/bundles/KendoUI/GameHistory")