@using BlackJack.ViewModels.ViewModels;
@using BlackJack.BusinessLogic.Helpers;
@model AuthPlayerViewModel
@{
    ViewBag.UserName = Model.Name;
    ViewBag.Title = "Main page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main page</h2>
<hr />

<div class="row row-flex">
    @if (Model.ResumeGame)
    {
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 well">
        <h3>Game resuming</h3>
        <p>You can resume your last game</p>
        @Html.ActionLink("Resume game", "ResumeGame", "StartGame", new { playerId = Model.PlayerId }, new { @class = "btn btn-primary" })
    </div>
    }
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 well">
        <h3>Start new game</h3>
        @using (Html.BeginForm("StartNewGame", "StartGame", new { playerId = Model.PlayerId }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label class="control-label col-md-4">@GameMessageHelper.BotAmountInput</label>
                <div class="col-md-8">
                    <input name="amountOfBots" class="form-control" type="number" min="0" max=5 />
                </div>
            </div>

            <input type="submit" value="Start new game" class="btn btn-primary" />
        }
    </div>
</div>