@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>BlackJack</h1>

    @using (Html.BeginForm("Index", "Start", FormMethod.Post, new { @class = "form-horizontal" }))
    {
    <div class="form-group">
        <label class="control-label col-md-2">Name: </label>
        <div class="col-md-10">
            <input type="text" name="userName" class="form-control" />
            <br />
            <input type="submit" value="Enter" class="btn btn-primary" />
        </div>
    </div>
    }
</div>