@using BlackJack.ViewModels.Start;
@model InitializeStartView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="gameId" name="gameId" value=@Model.GameId />
<input type="hidden" id="isNewGame" name="isNewGame" value=@Model.IsNewGame.ToString() />
<input type="hidden" id="userName" name="userName" value=@Model.UserName />
<div id="players">
    <div class="row row-flex">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 well">
            <h4><span class="label label-danger">Dealer</span></h4>
            <div id="dealer"></div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 well">
            <div class="row row-flex">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4><span class="label label-primary">Human</span></h4>
                    <div id="human"></div>
                </div>
                <div id="gamePlay" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
            </div>
        </div>


    </div>

    <div id="bots" class="row row-flex"></div>
</div>

@Scripts.Render("~/bundles/RoundHandler")