@using BlackJack.ViewModels.Start
@model InitializeStartView
@{
    ViewBag.Title = "Index";
    ViewBag.UserName = Model.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="gameid" name="gameid" value=@Model.Id />
<input type="hidden" id="roundresult" name="roundresult" value="@Model.RoundResult" />
<input type="hidden" id="isnewgame" name="isnewgame" value="@Model.IsNewGame" />
<div id="players">
    <div class="row row-flex">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 well">
            <h4><span class="label label-danger">Dealer</span></h4>
            <div id="dealer"></div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 well">
            <div class="row row-flex">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4><span class="label label-primary">Human</span></h4>
                    <div id="human"></div>
                </div>
                <div id="gameplay" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
            </div>
        </div>


    </div>

    <div id="bots" class="row row-flex">
        @{ int botCount = 0;}
        @foreach (var bot in Model.Bots)
        {
            <div id="bot" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 well">
                <h4><span class="label label-default">Bot</span></h4>

                <div id="botgameplay@(botCount)">
                    <p>Score: @bot.Score</p>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/RoundHandler")