<div class="row row-flex">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 well">
        <h4><span class="label label-danger">Dealer</span></h4>
        <p>Name: {{GameViewModel.Dealer.Name}}</p>
        <app-dealer-output [Score]="GameViewModel.Dealer.Score" [RoundScore]="GameViewModel.Dealer.RoundScore" [Cards]="GameViewModel.Dealer.Cards" [GameStage]="GameViewModel.Stage"></app-dealer-output>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 well">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h4><span class="label label-primary">Human</span></h4>
                <p>Name: {{GameViewModel.Human.Name}}</p>
                <app-player-output [Score]="GameViewModel.Human.Score" [Bet]="GameViewModel.Human.Bet" [RoundScore]="GameViewModel.Human.RoundScore" [Cards]="GameViewModel.Human.Cards" [GameStage]="GameViewModel.Stage"></app-player-output>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div *ngIf="BetInput">
                    <app-bet-input [Score]="GameViewModel.Human.Score" [GameId]="GameId" [HumanGamePlayerId]="GameViewModel.Human.GamePlayerId" (BetOut)="OnBetsCreation()"></app-bet-input>
                </div>
                <div *ngIf="TakeCard">
                    <app-take-card (TakeCard)="OnTakingCard($event)"></app-take-card>
                </div>
                <div *ngIf="BlackJackDangerChoice">
                    <app-blackjack-danger-choice (TakeAward)="OnBlackJackDangerChoice($event)"></app-blackjack-danger-choice>
                </div>
                <div *ngIf="EndRound">
                    <app-end-round [GameId]="GameId" [UserName]="GameViewModel.Human.Name" (Reload)="Reload()"></app-end-round>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-flex">
    <div *ngFor="let bot of GameViewModel.Bots" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 well">
        <h4><span class="label label-default">Bot</span></h4>
        <p>Name: {{bot.Name}}</p>
        <app-player-output [Score]="bot.Score" [RoundScore]="bot.RoundScore" [Bet]="bot.Bet" [Cards]="bot.Cards" [GameStage]="GameViewModel.Stage"></app-player-output>
    </div>
</div>
